/*
Common Css
*/
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}

p{
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight:700;
    color: #696060;
}
i{
    color: #2fccd0;
}


/*
Header Section
*/
.header{width: 100%; height: 100vh; background-image:linear-gradient(rgba(0,168,225,0.3),rgba(0,168,225,0.3)), 
    url('../img/image1.jpg'); background-repeat: no-repeat; background-size: 100% 100%; 
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%,0 75% , 0 0); position: relative;}

.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
    color:#fff;
    font-weight: bold;
}

/* for background Inage & Text */
.header_section{
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;
}
.center_div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* for microsoft & chrome & mozila */
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.center_div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: #fff;
    font-weight: bolder;

}

.header_buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
}

.header_buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}



/*
Welcome Area Section
*/
.welcome_area{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.welcome_area .single_welcome{
    background: #fff;
    border: medium none;
    padding: 50px;
    border-radius: 3px;
    transition: 0.3s;
}
.welcome_area .single_welcome:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
.welcome_area .single_welcome h2{
    font-size: 1rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.welcome_area .single_welcome p{font-size: 1rem; text-align: justify;}


/*
Offer Section 
*/
.offer_area{
    background: #f7f7f9;
    padding: 50px 0;
    /* margin-bottom: 50px; */
}
.offer_area .offer_title{
    margin-bottom: 50px;
}
.offer_title h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.offer_title p{}

.offer_left_section{width: 90%;}
.offer_left_section h1{
    color: #2e2e2e;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.offer_right_site{}
.offer_right_site .offer_right_text h2{
    font-size: 1.2rem;
    margin: 0px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.offer_right_site .offer_right_text p{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    color: #000;
}
.offer_right_site .offer_right_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2fccd0;
}

.progress{
    height: 0.6rem !important;
    margin-bottom: 25px !important;
    color: #606060;
}


/*
Pricing Section
*/
.pricing_area{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing_area:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}
.pricing_area .money{
    font-size: 35px;
    line-height: 1;
    color:#606060;
}
.pricing_area .card{
    transition: 0.4s ease;
}
.pricing_title{
    padding: 0 0 25px 0;
}
.pricing_area .card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff;
    padding: 25px 9;
}

.pricing_area .card-body{
    padding: 30px 0px;
}
.pricing_area .card-body li{
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    color: #060101 !important;
}
.pricing_area .card-footer{
    background: 30px 0;
    padding: 30px 0;
}

.pricing_area .card-footer a{
    border: 2px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.4;
    text-align: center;
}

.pricing_area .card-footer a:hover{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}

.card-second{
    transform: translateY(-20px);
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
}